[submodule "hygen_templates"]
	path = hygen_templates
	url = https://github.com/Patriot720/my-hygen-templates.git
[submodule "consult-taskrunner"]
	path = packages/consult-taskrunner
	url = https://github.com/Patriot720/consult-taskrunner.git
